/*
 * VARIABLES
 *
 */


/* BREAKPOINTS
========================================================================== */
$breakpoint-small:	768px; /* 768px */
$breakpoint-medium:	992px; /* 992px */
$breakpoint-large:	1200px; /* 1200px */
/* examples:
 * @media (min-width: $breakpoint-small) { }
 * @media (max-width: $breakpoint-small - 1) { }
 */


/* FONTS
========================================================================== */



/* FONT SIZES
========================================================================== */
