<!DOCTYPE html>
<!--[if IE 9]>			<html lang="en" class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		{{> head }}
	</head>
	<body>
		{{> body }}
	</body>
</html>
