---
layout: base.hbs
---

<!-- Header -->
{{> header }}

<!-- Container -->
<div class="content-wrap">
	<!-- Content -->
	<div class="container-fluid" role="main">
		<div id="header-skip"></div>
		{{> body }}
	</div>	<!-- End Content -->
</div> <!-- End Container -->

<!-- Footer -->
{{> footer }}
